[Desktop Entry]
Name=terminalpp
Exec=terminalpp
Icon=terminalpp.png
Type=Application
Terminal=false
Categories=System;TerminalEmulator;
GenericName=Terminal
Comment=@TPP_SUMMARY@
