[Desktop Entry]
Name=terminalpp
Exec=terminalpp
Icon=@TPP_DESKTOP_ICON@
Type=Application
Terminal=false
Categories=System;TerminalEmulator;
GenericName=Terminal
Comment=@TPP_SUMMARY@
