name: windows-build

on:
  push:
    branches-ignore:
      - release

jobs:
  build:

    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: configure
      run: |
        mkdir build
        cd build
        cmake ..
    - name: build-debug
      run: |
        cd build
        cmake --build . --clean-first --config Debug
    - name: run-tests-debug
      run: |
        cd build\tests\Debug
        .\tests.exe        
    - name: build-release
      run: |
        cd build
        cmake --build . --clean-first --config Release
    - name: run-tests-release
      run: |
        cd build\tests\Release
        .\tests.exe        
